body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

img{
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: #b4b4b4;
    background: url('scubadiveheader.avif') no-repeat center center/cover;
    color: #ffffff;
    padding: 20px 10px;
    text-align: center;
}


header h1 {
    margin: 0;
    font-size: 2.5em;
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.7);
    display: inline-block;
    padding: 5px 15px;
    border-radius: 5px;
}

main {
    padding: 20px;
}

.trek {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.trek h2 {
    color: #2c3e50;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.trek p {
    margin: 5px 0;
    font-size: 1em;
}

footer {
    text-align: center;
    background: #b4b4b4;
    color: #000000;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
